::ng-deep {
  .outlet-wrapper {
    max-width: calc(100% - 20rem) !important;

    @media (max-width: 768px) {
      max-width: 100% !important;
    }
  }
}

.playground {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  & .editor-options, & .editor {
    margin: 0 1%;
    box-sizing: border-box; // includes padding and border in element's total width and height
    height: 100%; // takes up 100% of the container height

    @media (max-width: 768px) {
      flex: 1 1 100%; // takes up 100% of the container width on small screens
    }
  }

  & .editor-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 35%; // takes up 45% of the container width
    position: sticky;
    top: 80px;;

    & .editor-options-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
      width: 100%;
    }

    & .editor-option {
      width: 100%;

      &:first-child {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-left: 0.5rem;
      }
    }

    mat-divider {
      margin: 0 0 1rem;
    }
  }

  & .editor {
    flex: 1 1 45%; // takes up 45% of the container width
    height: calc(100vh - 20rem);
    margin: auto;
    position: sticky;
    top: 80px;
    box-sizing: border-box; // includes padding and border in element's total width and height
    overflow-x: auto;

    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }
}