::ng-deep {
  .outlet-wrapper {
    max-width: calc(100% - 20rem) !important;
  }
}

.playground {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .editor-options, .editor {
    margin: 0 1%;
    box-sizing: border-box; // includes padding and border in element's total width and height
    height: 100%; // takes up 100% of the container height

    @media (max-width: 768px) {
      flex: 1 1 100%; // takes up 100% of the container width on small screens
    }
  }

  .editor-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 35%; // takes up 45% of the container width
    position: sticky;
    top: 80px;
  }

  .editor {
    flex: 1 1 45%; // takes up 45% of the container width
    height: 100%;
    margin: auto;
    position: sticky;
    top: 80px;
    box-sizing: border-box; // includes padding and border in element's total width and height

    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }
}